streamlit>=1.31.0
opencv-python-headless
pillow
google-generativeai>=0.8.0
numpy
deep-translator
SpeechRecognition
pyttsx3
torch
torchvision
watchdog
folium
streamlit-folium
geopy
requests
supabase
python-dotenv
scikit-learn
joblib
pandas
reportlab
google-auth-oauthlib
google-api-python-client
ultralytics